.slider {
  &__labels {
    position: absolute;
    color: #c4c4c4;

    &_horizontal {
      width: 100%;
      top: 18px;
    }

    &_vertical {
      height: 100%;
      left: 18px;
    }
  }

  &__labels-item {
    position: absolute;
    font-family: Lato, sans-serif;
    font-size: 12px;
    transform: translateX(-50%);

    &:hover {
      color: #000;
    }

    &_active {
      color: #000;
    }
  }

  &__labels_vertical .slider__labels-item {
    position: absolute;
    transform: translateY(50%);
  }
}
