<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Demo-page</title>
</head>
<body>
  <div class="demo-page__wrapper">

    <div class="demo-page__block">
      <div class="control-panel"></div>
      <div class="slider"></div>
    </div>

    <div class="demo-page__block">
      <div class="control-panel"></div>
      <div class="slider"></div>
    </div>

    <div class="demo-page__block">
      <div class="control-panel"></div>
      <div class="slider"></div>
    </div>

    <div class="demo-page__block">
      <div class="control-panel"></div>
      <div class="slider"></div>
    </div>

  </div>
</body>
</html>