<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Demo-page</title>
</head>
<body>
  <div class="demo-page__wrapper">

    <section class="demo-page__block">
      <div class="control-panel"></div>
        <div class="slider slider_horisontal">
          <div class="slider__scale">
            <div class="slider__fill slider__fill_orange"></div>
            <div class="slider__handle slider__handle_orange">
              <div class="slider__tooltip slider__tooltip_orange">
                <span>53¥</span>
                <div class="slider__tooltip_arrow"></div>
              </div>
            </div>
            <div class="slider__labels">
              <div class="slider__labels-item">0</div>
              <div class="slider__labels-item">25</div>
              <div class="slider__labels-item">50</div>
              <div class="slider__labels-item">75</div>
              <div class="slider__labels-item">100</div>
            </div>
          </div>
        </div>
    </section>

    <!-- <div class="demo-page__block">
      <div class="control-panel"></div>
      <div class="slider__wrapper"></div>
    </div>

    <div class="demo-page__block">
      <div class="control-panel"></div>
      <div class="slider__wrapper"></div>
    </div>

    <div class="demo-page__block">
      <div class="control-panel"></div>
      <div class="slider__wrapper"></div>
    </div> -->

  </div>
</body>
</html>