<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Demo-page</title>
</head>
<body>
  <div class="demo-page__wrapper">

    <section class="demo-page__block">
      <div class="control-panel"></div>
        <div class="slider slider_horisontal">
          <div class="slider__scale slider__scale_horisontal">
            <div class="slider__fill slider__fill_horisontal slider__fill_orange"></div>
            <div class="slider__handle slider__handle_orange slider__handle_horisontal">
              <div class="slider__tooltip slider__tooltip_horisontal slider__tooltip_orange">
                <span>53 ¥</span>
                <div class="slider__tooltip_arrow"></div>
              </div>
            </div>
            <div class="slider__labels slider__labels_horisontal">
              <div class="slider__labels-item">0</div>
              <div class="slider__labels-item">25</div>
              <div class="slider__labels-item">50</div>
              <div class="slider__labels-item">75</div>
              <div class="slider__labels-item">100</div>
            </div>
          </div>
        </div>
    </section>

    <section class="demo-page__block">
      <div class="control-panel"></div>
        <div class="slider slider_vertical">
          <div class="slider__scale slider__scale_vertical">
            <div class="slider__fill slider__fill_vertical slider__fill_orange"></div>
            <div class="slider__handle slider__handle_vertical slider__handle_orange">
              <div class="slider__tooltip slider__tooltip_vertical slider__tooltip_orange">
                <span>53 ¥</span>
                <div class="slider__tooltip_arrow slider__tooltip_arrow_vertical"></div>
              </div>
            </div>
            <div class="slider__labels slider__labels_vertical">
              <div class="slider__labels-item">100</div>
              <div class="slider__labels-item">75</div>
              <div class="slider__labels-item">50</div>
              <div class="slider__labels-item">25</div>
              <div class="slider__labels-item">0</div>
            </div>
          </div>
        </div>
    </section>

    <section class="demo-page__block">
      <div class="control-panel"></div>
      <div class="slider slider_horisontal">
        <div class="slider__scale slider__scale_horisontal">
          <div class="slider__fill slider__fill_horisontal slider__fill_horisontal_range slider__fill_green"></div>
          <div class="slider__handle slider__handle_green slider__handle_horisontal slider__handle_range-first">
            <div class="slider__tooltip slider__tooltip_horisontal slider__tooltip_green">
              <span>25 ¥</span>
              <div class="slider__tooltip_arrow"></div>
            </div>
          </div>
          <div class="slider__handle slider__handle_green slider__handle_horisontal slider__handle_range-second">
            <div class="slider__tooltip slider__tooltip_horisontal slider__tooltip_green">
              <span>75 ¥</span>
              <div class="slider__tooltip_arrow"></div>
            </div>
          </div>
          <div class="slider__labels slider__labels_horisontal">
            <div class="slider__labels-item">0</div>
            <div class="slider__labels-item">25</div>
            <div class="slider__labels-item">50</div>
            <div class="slider__labels-item">75</div>
            <div class="slider__labels-item">100</div>
          </div>
        </div>
      </div>
    </section>

    <section class="demo-page__block">
      <div class="control-panel"></div>
      <div class="slider slider_vertical">
        <div class="slider__scale slider__scale_vertical">
          <div class="slider__fill slider__fill_vertical slider__fill_vertical_range slider__fill_green"></div>
          <div class="slider__handle slider__handle_vertical slider__handle_range-first slider__handle_green">
            <div class="slider__tooltip slider__tooltip_vertical slider__tooltip_green">
              <span>25 ¥</span>
              <div class="slider__tooltip_arrow slider__tooltip_arrow_vertical"></div>
            </div>
          </div>
          <div class="slider__handle slider__handle_vertical slider__handle_range-second slider__handle_green">
            <div class="slider__tooltip slider__tooltip_vertical slider__tooltip_green">
              <span>75 ¥</span>
              <div class="slider__tooltip_arrow slider__tooltip_arrow_vertical"></div>
            </div>
          </div>
          <div class="slider__labels slider__labels_vertical">
            <div class="slider__labels-item">100</div>
            <div class="slider__labels-item">75</div>
            <div class="slider__labels-item">50</div>
            <div class="slider__labels-item">25</div>
            <div class="slider__labels-item">0</div>
          </div>
        </div>
      </div>
    </section>



  </div>
</body>
</html>