{
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true,
    "node": true,
    "jest/globals": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:fsd/all",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "globals": {
    "$": "readonly",
    "jQuery": "readonly"
  },
  "plugins": ["@typescript-eslint", "fsd", "jest"],
  "rules": {
    "linebreak-style": "warn",
    "no-new": "warn",
    "func-names": "warn",
    "fsd/hof-name-prefix": "error",
    "fsd/no-heavy-constructor": "error",
    "fsd/jq-cache-dom-elements": "error",
    "fsd/jq-use-js-prefix-in-selector": "error",
    "fsd/no-function-declaration-in-event-listener": "error",
    "fsd/split-conditionals": "error"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"]
      }
    }
  }
}
