.demo-page {

  &__wrapper {
    display: grid;
    grid-gap: 16px;
    grid-template: 1fr 1fr/1fr 1fr;
    min-height: 688px;
    max-width: 1280px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 16px;

    @media (max-width: 1280px) {
      grid-template: 1fr/1fr;
    } 
  }

  &__block {
    box-sizing: border-box;
    display: flex;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    padding: 16px;
    border: 1px solid #E5E5E5;
  }
}

.control-panel {
  min-width: 240px;
  max-width: 240px;
  min-height: 288px;
  background: rgba(229, 229, 229, 0.4);
}

.slider {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-left: 16px;
  border: 1px dashed black;

  &_horisontal {
    width: 100%;
    min-width: 320px;
    min-height: 60px;
  }

  &__scale {
    position: relative;
    width: 100%;
    height: 6px;
    min-height: 6px;
    max-width: 296px;
    background: #E5E5E5;
    border-radius: 4px;
    margin: 32px 16px 0 16px;
  }
  
  &__fill {
    position: absolute;
    height: 6px;
    max-height: 6px;
    border-radius: 4px;
    width: 55%;
    cursor: pointer;

    &_orange {
      background: #E75735;
    }
  }

  &__handle {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    left: 53%;
    top: -6px;
    box-shadow: 0px 0px 5px 0.5px
               rgba(0, 0, 0, 0.2);
    cursor: pointer;

    &:hover {
      box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.5);;
    }

    &_orange {
      background: #E75735;
    }
  }

  &__labels {
    position: absolute;
    font-family: Lato, sans-serif;
    font-size: 10px;
    font-weight: 700;
    color: #c4c4c4;
    width: 100%;
    top: 10px;
  }
  
  &__labels-item {
    position: absolute;

    &:nth-child(1) {
      left: -1%;
    }
    &:nth-child(2) {
      left: 25%;
    }
    &:nth-child(3) {
      left: 50%;
    }
    &:nth-child(4) {
      left: 75%;
    }
    &:nth-child(5) {
      left: 96%;
    }
  }
}