.demo-page {

  &__wrapper {
    display: grid;
    grid-gap: 16px;
    grid-template: 1fr 1fr/1fr 1fr;
    min-height: 688px;
    max-width: 1280px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 16px;

    @media (max-width: 1280px) {
      grid-template: 1fr/1fr;
    } 
  }

  &__block {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 16px;
    border: 1px solid #E5E5E5;
  }
}

.control-panel {
  min-width: 240px;
  max-width: 240px;
  min-height: 288px;
  background: rgba(229, 229, 229, 0.4);
}

.slider {
  min-height: 60px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 320px;
    min-height: 300px;
    border: 1px dashed black;
    margin-left: 16px;
  }

  &__scale {
    position: relative;
    min-height: 6px;
    max-height: 6px;
    max-width: 100%;
    background: #E5E5E5;
    border-radius: 4px;
    margin: 32px 16px 0 16px;

    &::after {
      content: '';
      position: absolute;
      top: -6px;
      left: 53%;
      width: 18px;
      height: 18px;
      background: #E75735;
      border-radius: 50%;
      box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.1);
    }
    &:hover::after {
      box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.5);
    }

    &::before {
      content: '';
      position: absolute;
      min-height: 6px;
      max-height: 6px;
      min-width: 56%;
      background: #E75735;
      border-radius: 4px;
    }
  }
}