/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.control-panel {
  min-width: 240px;
  max-width: 240px;
  min-height: 288px;
  margin-right: 16px;
  padding: 8px;
  font-family: Lato, Helvetica, sans-serif;
  background: rgba(229, 229, 229, 0.4);
  border-radius: 3px;

  &__block-control {
    padding-bottom: 8px;
  }

  &__control {
    display: flex;
    justify-content: space-between;
    max-height: 22px;
    margin-bottom: 8px;
  }

  &__title {
    display: inline-flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
  }

  &__input {
    box-sizing: border-box;
    width: 108px;
    padding-top: 2px;
    padding-right: 4px;
    font-size: 16px;
    text-align: end;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 3px;
  }

  &__select {
    box-sizing: border-box;
    min-width: 108px;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 3px;
  }

  &__checkbox {
    min-width: 108px;
    min-height: 20px;
    margin: 0;
  }
}
