/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.control-panel {
  padding: 8px;
  margin-right: 16px;
  min-width: 240px;
  max-width: 240px;
  min-height: 288px;
  border-radius: 3px;
  background: rgba(229, 229, 229, 0.4);
  font-family: Lato, Helvetica, sans-serif;

  &__block-control {
    padding-bottom: 8px;
  }

  &__control {
    display: flex;
    justify-content: space-between;
    max-height: 22px;
    margin-bottom: 8px;
  }

  &__title {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
  }

  &__input {
    width: 108px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    font-size: 16px;
    padding-right: 4px;
    padding-top: 2px;
    text-align: end;
  }

  &__input_text {
    text-align: center;
  }

  &__select {
    min-width: 108px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    font-size: 16px;
  }

  &__checkbox {
    min-width: 108px;
    width: 108px;
    min-height: 20px;
    height: 20px;
    margin: 0;
  }
}
