.slider {
  &__tooltip {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    height: 20px;
    padding: 0 2px 0 2px;
    color: #fff;
    font: 400 14px Lato, sans-serif;
    white-space: nowrap;
    border-radius: 3px;

    &_horizontal {
      top: -28px;
      left: 50%;
      transform: translate(-50%);
    }

    &_vertical {
      right: 28px;
    }

    &_arrow {
      position: absolute;
      top: 16px;
      z-index: -1;
      width: 7px;
      height: 7px;
      background: inherit;
      transform: rotate(45deg);
    }

    &_arrow_vertical {
      top: 6.5px;
      right: -3px;
    }

    &_arrow_horizontal {
      top: 14px;
    }

    &_orange {
      background: #e75735;
    }

    &_green {
      background: #4eb7a8;
    }
  }
}
