#slider.slider.slider_horisontal
  .slider__scale.slider__scale_horisontal
    #fill.slider__fill.slider__fill_horisontal.slider__fill_orange
    #handle.slider__handle.slider__handle_orange.slider__handle_horisontal
      .slider__tooltip.slider__tooltip_horisontal.slider__tooltip_orange
        span.tooltip__value 53 &yen;
        .slider__tooltip_arrow
    .slider__labels.slider__labels_horisontal
      .slider__labels-item 0
      .slider__labels-item 25
      .slider__labels-item 50
      .slider__labels-item 75
      .slider__labels-item 100