#slider.slider.slider_horizontal
  .slider__scale.slider__scale_horizontal
    #fill.slider__fill.slider__fill_horizontal.slider__fill_orange
    #handle.slider__handle.slider__handle_orange.slider__handle_horizontal
      .slider__tooltip.slider__tooltip_horizontal.slider__tooltip_orange
        span.tooltip__value 53 &yen;
        .slider__tooltip_arrow
    .slider__labels.slider__labels_horizontal
      .slider__labels-item 0
      .slider__labels-item 25
      .slider__labels-item 50
      .slider__labels-item 75
      .slider__labels-item 100