include ../control-panel/control-panel.pug
include ../slider/slider.pug

mixin demo-block({ options={} })
  - const { controlPanel, slider } = options

  section.demo-page__block
    +control-panel({ controlPanel })
    #sliderSingleHorizontal.slider__wrapper
  section.demo-page__block
    +control-panel({ controlPanel })
    #sliderSingleVertical.slider__wrapper
    //- +slider({ slider })

    //- .slider.slider_horizontal
    //-   .slider__scale.slider__scale_horizontal
    //-     .slider__fill.slider__fill_horizontal.slider__fill_horizontal_range.slider__fill_green
    //-     .slider__handle.slider__handle_green.slider__handle_horizontal.slider__handle_range-first
    //-       .slider__tooltip.slider__tooltip_horizontal.slider__tooltip_green
    //-         span 25 &yen;
    //-         .slider__tooltip_arrow
    //-     .slider__handle.slider__handle_green.slider__handle_horizontal.slider__handle_range-second
    //-       .slider__tooltip.slider__tooltip_horizontal.slider__tooltip_green
    //-         span 75 &yen;
    //-         .slider__tooltip_arrow
    //-     .slider__labels.slider__labels_horizontal
    //-       .slider__labels-item 0
    //-       .slider__labels-item.slider__labels-item_active 25
    //-       .slider__labels-item 50
    //-       .slider__labels-item.slider__labels-item_active 75
    //-       .slider__labels-item 100


  //- section.demo-page__block
  //-   .control-panel
  //-     .control-panel__block-control
  //-       .control-panel__row
  //-         label.control-panel__control
  //-           input.control-panel__input(type='number' value='0')
  //-           span.control-panel__title scale min
  //-       .control-panel__row
  //-         label.control-panel__control
  //-           input.control-panel__input(type='number' value='100')
  //-           span.control-panel__title scale max
  //-       .control-panel__row
  //-         label.control-panel__control
  //-           input.control-panel__input(type='number' value='' disabled='')
  //-           span.control-panel__title value
  //-       .control-panel__row
  //-         label.control-panel__control
  //-           input.control-panel__input(type='number' value='1')
  //-           span.control-panel__title step
  //-       .control-panel__row
  //-         label.control-panel__control
  //-           input.control-panel__input(type='number' value='25')
  //-           span.control-panel__title range min
  //-       .control-panel__row
  //-         label.control-panel__control
  //-           input.control-panel__input(type='number' value='75')
  //-           span.control-panel__title range max


  //-     .control-panel__block-view
  //-       .control-panel__row
  //-         label.control-panel__control
  //-           select.control-panel__select(name='' id='')
  //-             option(value='') vertical
  //-             option(value='') horizontal
  //-           span.control-panel__title type
  //-       .control-panel__row
  //-         label.control-panel__control
  //-           input.control-panel__checkbox(type='checkbox' checked='')
  //-           span.control-panel__title range
  //-       .control-panel__row
  //-         label.control-panel__control
  //-           input.control-panel__checkbox(type='checkbox' checked='')
  //-           span.control-panel__title labels
  //-         label.control-panel__control
  //-           input.control-panel__checkbox(type='checkbox' checked='')
  //-           span.control-panel__title tooltips
  //-       .control-panel__row
  //-         label.control-panel__control
  //-           input.control-panel__input.control-panel__input_text(type='text' value='¥')
  //-           span.control-panel__title units

                
  //-   .slider.slider_vertical
  //-     .slider__scale.slider__scale_vertical
  //-       .slider__fill.slider__fill_vertical.slider__fill_vertical_range.slider__fill_green
  //-       .slider__handle.slider__handle_vertical.slider__handle_range-first.slider__handle_green
  //-         .slider__tooltip.slider__tooltip_vertical.slider__tooltip_green
  //-           span 25 &yen;
  //-           .slider__tooltip_arrow.slider__tooltip_arrow_vertical
  //-       .slider__handle.slider__handle_vertical.slider__handle_range-second.slider__handle_green
  //-         .slider__tooltip.slider__tooltip_vertical.slider__tooltip_green
  //-           span 75 &yen;
  //-           .slider__tooltip_arrow.slider__tooltip_arrow_vertical
  //-       .slider__labels.slider__labels_vertical
  //-         .slider__labels-item 100
  //-         .slider__labels-item.slider__labels-item_active 75
  //-         .slider__labels-item 50
  //-         .slider__labels-item.slider__labels-item_active 25
  //-         .slider__labels-item 0