.slider {
  &__fill {
    position: absolute;
    border-radius: 3px;
    cursor: pointer;
    -ms-touch-action: none;
    touch-action: none;

    &_horizontal {
      height: 8px;
    }

    &_vertical {
      bottom: 0;
      width: 8px;
    }

    &_orange {
      background: #e75735;
    }

    &_green {
      background: #4eb7a8;
    }
  }
}
