include ../control-panel/control-panel.pug
include ../slider/slider.pug

mixin demo-block({ options={} })
  - const { controlPanel, slider } = options

  section.demo-page__block
    h2.demo-page__title.visually-hidden Slider demo
    +control-panel({ controlPanel })
    +slider({ slider })