@import "../components/control-panel/control-panel.scss";

.demo-page {
  display: grid;
  grid-gap: 16px;
  grid-template: 1fr 1fr/1fr 1fr;
  box-sizing: border-box;
  max-width: 1980px;
  min-height: 688px;
  margin: 0 auto;
  padding: 16px;

  @media (max-width: 1279px) {
    grid-template: 1fr/1fr;
  }

  &__block {
    display: flex;
    box-sizing: border-box;
    padding: 16px;
    border: 1px solid #e5e5e5;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
