extends ../layout/layout.pug
include ../components/control-panel/control-panel.pug
include ../components/slider/slider.pug

block content
  .demo-page
    section.demo-page__block
      h2.demo-page__title.visually-hidden Slider demo
      +control-panel({
        controls: [
          { title: "min", type: "number", value: 0, disabled: false },
          { title: "max", type: "number", value: 100, disabled: false },
          { title: "step", type: "number", value: 25, disabled: false },
          { title: "from", type: "number", value: 42, disabled: false },
          { title: "to", type: "number", value: 0, disabled: true },
        ],
        viewElements: [
          { title: "orientation", type: "select", option: ["horizontal", "vertical"] },
          { title: "fill", type: "checkbox", checked: true },
          { title: "range", type: "checkbox", checked: false},
          { title: "labels", type: "checkbox", checked: true},
          { title: "tooltips", type: "checkbox", checked: true},
        ]
      })
      +slider({ anchor: "sliderSingleHorizontal" })

    section.demo-page__block
      h2.demo-page__title.visually-hidden Slider demo
      +control-panel({
        controls: [
          { title: "min", type: "number", value: 0, disabled: false },
          { title: "max", type: "number", value: 100, disabled: false },
          { title: "step", type: "number", value: 25, disabled: false },
          { title: "from", type: "number", value: 42, disabled: false },
          { title: "to", type: "number", value: 0, disabled: true },
        ],
        viewElements: [
          { title: "orientation", type: "select", option: ["vertical", "horizontal" ] },
          { title: "fill", type: "checkbox", checked: true },
          { title: "range", type: "checkbox", checked: false},
          { title: "labels", type: "checkbox", checked: true},
          { title: "tooltips", type: "checkbox", checked: true},
        ]
      })
      +slider({ anchor: "sliderSingleVertical" })

    section.demo-page__block
      h2.demo-page__title.visually-hidden Slider demo
      +control-panel({
        controls: [
          { title: "min", type: "number", value: 0, disabled: false },
          { title: "max", type: "number", value: 100, disabled: false },
          { title: "step", type: "number", value: 25, disabled: false },
          { title: "from", type: "number", value: 42, disabled: false },
          { title: "to", type: "number", value: 0, disabled: true },
        ],
        viewElements: [
          { title: "orientation", type: "select", option: ["horizontal", "vertical"] },
          { title: "fill", type: "checkbox", checked: true },
          { title: "range", type: "checkbox", checked: true},
          { title: "labels", type: "checkbox", checked: true},
          { title: "tooltips", type: "checkbox", checked: true},
        ]
      })
      +slider({ anchor: "sliderRangeHorizontal" })

    section.demo-page__block
      h2.demo-page__title.visually-hidden Slider demo
      +control-panel({
        controls: [
          { title: "min", type: "number", value: 0, disabled: false },
          { title: "max", type: "number", value: 100, disabled: false },
          { title: "step", type: "number", value: 25, disabled: false },
          { title: "from", type: "number", value: 42, disabled: false },
          { title: "to", type: "number", value: 0, disabled: true },
        ],
        viewElements: [
          { title: "orientation", type: "select", option: ["vertical", "horizontal" ] },
          { title: "fill", type: "checkbox", checked: true },
          { title: "range", type: "checkbox", checked: true},
          { title: "labels", type: "checkbox", checked: true},
          { title: "tooltips", type: "checkbox", checked: true},
        ]
      })
      +slider({ anchor: "sliderRangeVertical" })
